/* DEFAULT STYLE FOR MOBILE UP TO 425px */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --primary-color: #e40511;
    --secondary-color: #e6cd77;
    --tertiary-color: #ffffffda; 
}

/* Header Style */

header {
    background-color: var(--tertiary-color);
    display: flex;
    flex: wrap; 
    align-items: center; 
}

header h1 {
    font-family: Luminari; 
    padding: 3%;
    text-shadow: 0 0 1px white;
    color: var(--primary-color)
}

header img {
    max-height: auto;
    max-width: 100px;
    padding: 3%;
    object-fit: fill;
}

/* Body Style */

body {
    background-color: var(--secondary-color);
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 3% 0 3%; 
}

.introduction h3 {
    margin-bottom: 5px;
}

.introduction p {
    line-height: 1.2;
}

.tale-intro {
    border: 2px solid black;
    margin: 3%;
    background-color: var(--tertiary-color);
    border-radius: 4px; 
}

.tale-intro p {
    margin: 3%;
    text-shadow: 0 0 1px var(--secondary-color);
    line-height: 1.4;
}

.early-line-style {
    font-family: Luminari;
    color: var(--primary-color);
    text-shadow: 0 0 2px white;
    font-size:larger;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border: 2px solid black;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 4px;
    padding: 5px;
    margin: 0 10px 10px 10px;
    transition-duration: 0.5s;
}

button:hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
    background-color: white;
}

/* Footer Style */

footer p {
    font-family: Luminari;
    text-align: center; 
}